<div class="row">
  <div [ngClass]="isProductPanelVisible ? 'col-8' : 'col-12'">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6">Product List</div>
          <div class="col-6 text-end">
            <div class="btn btn-sm btn-success" (click)="onNewClick()">New</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3" *ngFor="let product of productList">
            <div class="card">
              <img
                class="card-img-top"
                [src]="product.productImageUrl"
                alt="Card image"
              />
              <div class="card-body">
                <h4 class="card-title">{{ product.productSku }}</h4>
                <p class="card-text">{{ product.productName }}</p>
                <div
                  class="btn btn-sm btn-success"
                  (click)="onEditClick(product)"
                >
                  Edit
                </div>
                <div
                  class="btn btn-sm btn-success mx-2"
                  (click)="onDeleteProduct(product)"
                >
                  Delete
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4" *ngIf="isProductPanelVisible">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6">New Product</div>
          <div class="col-6 text-end">
            <div class="btn btn-sm btn-success" (click)="onCloseClick()">
              Close
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label for="prod.productSku">SKU</label>
            <input
              type="text"
              [(ngModel)]="prod.productSku"
              class="form-control"
            />
          </div>
          <div class="col-6">
            <label for="prod.productName">Name</label>
            <input
              type="text"
              [(ngModel)]="prod.productName"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="prod.productShortName">Short Name</label>
            <input
              type="text"
              [(ngModel)]="prod.productShortName"
              class="form-control"
            />
          </div>
          <div class="col-6">
            <label for="prod.productPrice">Price</label>
            <input
              type="text"
              [(ngModel)]="prod.productPrice"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="prod.categoryId">Category</label>
            <select
              [(ngModel)]="prod.categoryId.categoryId"
              class="form-select"
              name="categoryId"
              #categoryId="ngModel"
              required
            >
              <option value="null" disabled>Select Category</option>
              <option
                *ngFor="let category of categoryList"
                [value]="category.categoryId"
              >
                {{ category.categoryName }}
              </option>
            </select>
          </div>
          <div class="col-6">
            <label for="prod.deliveryTimeSpan">Delivery Time</label>
            <input
              type="text"
              [(ngModel)]="prod.deliveryTimeSpan"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="productImageUrl">Image</label>
            <input
              type="text"
              [(ngModel)]="prod.productImageUrl"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="productDescription">Product Description</label>
            <input
              type="text"
              [(ngModel)]="prod.productDescription"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="btn btn-sm btn-success"
              (click)="onResetClick(prod.productId)"
            >
              Reset
            </div>
            <div
              class="btn btn-sm btn-success mx-2"
              (click)="onCreateProduct()"
              *ngIf="prod.productId == 0"
            >
              Create Product
            </div>
            <div
              class="btn btn-sm btn-success mx-2"
              *ngIf="prod.productId !== 0"
              (click)="onUpdateProduct(prod)"
            >
              Update Product
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
