<div class="row">
  <div [ngClass]="isProductPanelVisible ? 'col-8' : 'col-12'">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6">Product List</div>
          <div class="col-6 text-end">
            <div class="btn btn-sm btn-success" (click)="onNewClick()">New</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3" *ngFor="let product of json.data">
            <div class="card">
              <img
                class="card-img-top"
                [src]="product.productImageUrl"
                alt="Card image"
              />
              <div class="card-body">
                <h4 class="card-title">{{ product.productSku }}</h4>
                <p class="card-text">{{ product.productName }}</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4" *ngIf="isProductPanelVisible">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6">New Product</div>
          <div class="col-6 text-end">
            <div class="btn btn-sm btn-success" (click)="onCloseClick()">
              Close
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label for="">SKU</label>
            <input
              type="text"
              [(ngModel)]="productObj.productSku"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-6">
          <label for="">Name</label>
          <input
            type="text"
            [(ngModel)]="productObj.productName"
            class="form-control"
          />
        </div>
        <div class="col-6">
          <label for="">Name</label>
          <input
            type="text"
            [(ngModel)]="productObj.productName"
            class="form-control"
          />
        </div>
        <div class="col-6">
          <label for="">Image</label>
          <input
            type="text"
            [(ngModel)]="productObj.productImageUrl"
            class="form-control"
          />
        </div>
      </div>
    </div>
  </div>
</div>
